<h2>プロフィール画像</h2>
 <% if @user.image.attached? %>
  <%= image_tag @user.image, size: "200x200" %>
 <% else %>
  <%= image_tag 'no_image', size: '200x200' %>
 <% end %>

<h2>タイトル</h2>
<p><%= @book.title %></p>

<h2>本文</h2>
<p><%= @book.body %></p>


<% if @post_image.user == current_user %>
  <%= link_to "edit", edit_book_path(@book.id) %>
  <%= link_to "destroy", book_path(@book.id), method: :delete, "data_confirm" => "本当に削除しますか？" %>
<% end %>

