<div class="container px-5 px-sm-0">
<%= render 'errors', book: @book %>

    <div class="row">
      <div class="col-md-3">

<%= render 'show', book: @book, user: @book.user, booknew: @booknew %>
<%= render 'create',booknew: @booknew %>
      </div>

      <div class="col-md-8 offset-md-1">
<table class="table table-hover table-inverse">
  <thead>
    <h2>Book detail</h2>
  </thead>

  <tr>
    <td><%= link_to user_path(@book.user_id) do %>
          <%= image_tag @book.user.get_profile_image(80, 80) %>
          <p><%= @book.user.name %></p>
        <% end %>
    </td>
    <td><%= link_to book_path(@book.id) do %>
          <%= @book.title %>
        <% end %>
    </td>
    <td><%= @book.body %>
    </td>

  <% if @book.user == current_user %>
    <td>
      <%= link_to edit_book_path(@book.id) do %>
        <div class="btn btn-sm btn-success">Edit</div>
      <% end %>
    </td>
    <td>
      <%= link_to book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
        <div class="btn btn-sm btn-danger">Destroy</div>
      <% end %>
    </td>
  <% end %>

  </tr>
</table>
      </div>

</div>
